<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PDFium.Windows" version="1.0.0" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="PDFSharp.NetStandard2" version="1.51.5185.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>